.lds-ring {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    margin: 0px;
    border: 15px solid #38cf90;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #38cf90 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.__board_table_wrapped {
    width: 100%;
    overflow-x: auto;
    height: fit-content;
    background: linear-gradient(to bottom,#000, #000b07);
    display: flex;
    flex-direction: column;
    align-items: center;

    &::-webkit-scrollbar {
        height: 7px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #5e5e5e;
    }
}

.__board_table_no_data {
    width: 100%;
    height: 100%;
    color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
}
.__board_table_data_loading {
    width: 100%;
    height: 100%;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.__board_table_filter {
    width: calc(100% - 5px);
    max-width: 1600px;
    margin-inline: 5px;
    height: 70px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    font-family: "SF-Pro", sans-serif;

    .__board_table_filter_items {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        gap: 10px;

        button {
            align-self: flex-end;
            height: 38px;
            width: 170px;
            margin-bottom: 6px;
            outline: none;
            border: none;
            border-radius: 3px;
            background: #36129a;
            color: #fff;
            cursor: pointer;

            &:hover {
                transition: background 0.5s ease-in-out;
                background: #5512c7;
            }
        }

        .select_field_wrapper_ {
            color: #eeeeee;
            width: 150px;
            label {
                background: #101011;
                display: block;
                width: 73%;
                padding-left: 5px;
                border-top-right-radius: 5px;
                font-weight: 300;
                font-size: 0.9rem;
            }
        }

        .__board_table_filter_name_filter {
            display: flex;
            flex-direction: column;
            width: fit-content;
            color: #fff;

            label {
                background: #101011;
                display: block;
                width: 150px;
                padding-left: 5px;
                border-top-right-radius: 5px;
                font-weight: 300;
                font-family: "SF-Pro", sans-serif;
                font-size: 0.9rem;
            }

            input {
                margin-top: 2px;
                height: 38px;
                width: 295px;
                outline: none;
                border: none;
                padding: 0px;
                background: #202022;
                color: #fff;
                padding-left: 5px;
            }
        }

        .__board_table_date_sorters {
            height: 38px;
            right: 0;
            bottom: 0;
            width: fit-content;
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            gap: 10px;

            button {
                width: 50px;
                height: 100%;
                align-self: flex-end;
                margin-bottom: 6px;
                border: none;
                border-radius: 3px;
                background: #171719;
                color: #fff;
                cursor: pointer;
            }
        }


        .__board_table_filter_item {
            margin-top: 2px;
            border: none !important;
            outline: none !important;
            font-family: "SF-Pro", sans-serif !important;

            input {
                border: none;
                outline: none;
            }
            div {
                border-top-left-radius: 0px;
                border: none;
                border-color: #3ccf92;
                color: #000000;

                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-track {
                    background: #292828;
                }
                &::-webkit-scrollbar-thumb {
                    background: #5b5b5b;
                }
            }
        }
    }
}

.__board_table {
    max-width: max-content;
    min-width: 1600px;
    margin-inline: 5px;
    height: 100%;
    font-family: "SF-Pro", sans-serif;

    .__board_table_legend {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        background: #38cf90;
        color: #000;
        font-weight: 700;
        border-radius: 7px;
        font-family: "SF-Pro-Bold", sans-serif;

        .__board_table_legendField {
            display: flex;
            height: 100%;
            align-items: center;
            border-right: 3px solid #000000;
            font-size: 0.93rem;

            &:last-child {
                border-right: none;
            }
        }
    }
    .__board_table_data {
        height: calc(15 * 38px);
        width: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .__board_table_data_item {
            width: 100%;
            height: 35px;
            background: #1c1c21;
            color: aliceblue;
            margin-top: 2px;

            display: flex;
            align-items: center;

            &:nth-child(1) {
                margin-top: 4px;
            }
            &:nth-child(odd) {
                background: #232229;
            }
            &:hover {
                cursor: pointer;
                background: #36363d;
                color: #38cf90;
            }

            p {
                display: flex;
                align-items: center;
                border-right: 3px solid #000;
                height: 100%;

                &:last-child {
                    border: none;
                }
            }

            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }
    }
}

.extension {
    width: 100%;
    height: 300px;
    background: #000b07;
}

@media (max-width: 1620px) {
    .__board_table {
        align-self: flex-start;
    }
    .__board_table_filter {
        align-self: flex-start;
    }
}