
.app_liveList-selected-loading {
    width: 100%;
    height: calc((15 * 40px) + 150px);
    background: #0f101a;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finish_flag {
    width: 25px !important;
    height: 25px !important;
}

.app__live-filter {
    width: calc(100% - 10px);
    max-width: 1600px;
    height: fit-content;
    margin-bottom: 5px;
    margin-inline: 5px;
}

.app_liveList-selected-main {
    width: 100%;
    font-family: "Outfit", sans-serif;
    position: relative;

    .app_liveList-top-selector {
        width: 100%;
        height: 100px;
        background: #0c0c14;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .app_liveList-color-selector-item {
            width: 120px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-family: "SF-Pro", sans-serif;
            font-size: 0.9rem;
            color: azure;

            input {
                outline: 1px solid #2867d4;
                outline-offset: 3px;
                background: none;
                padding: 0;
                cursor: pointer;
                height: 50px;
                width: 80px;
            }
            input[type="color"]::-webkit-color-swatch-wrapper {
                padding: 0;
            }
            input[type="color"]::-webkit-color-swatch {
                border: none;
            }
        }
        .app_liveList-color-selector-btns {
            display: flex;
            flex-direction: column;
            gap: 5px;

            button {
                border: none;
                width: 150px;
                height: 36px;
                background: transparent;
                outline: 1px solid #2867d4;
                color: azure;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.01);
                    background: #2867d4;
                    outline: none;
                }
            }
        }
    }
    .app_liveList-selected-results {
        width: 100%;
        height: fit-content;
        background: #0f101a;
        color: #eeeeee;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;


        .app__liveList-overflow-x-wrapper {
            overflow-x: auto;
            height: calc(100% - 150px);
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            align-items: center;

            &::-webkit-scrollbar {
                height: 5px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
                background: #f2930e;
            }
        }

        header {
            width: calc(100% - 10px);
            background: #0f101a;
            max-width: 1600px;
            height: 150px;
            display: flex;
            position: relative;
            font-family: "SF-Pro", sans-serif;
            margin-bottom: 3px;

            .app_liveList-selected-track-name {
                width: 350px;
                height: 100%;
                margin-left: 10px;
                margin-top: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                display: flex;
                flex-direction: column;

                p {
                    font-size: 2.5rem;
                    font-weight: 600;
                }
            }
            .app_liveList-selected-flag-and-chart{
                position: absolute;
                top: 10px;
                left: 40%;
                width: 20%;
                height: 40px;

                display: flex;
                align-items: center;
                justify-content: center;
            }
            .app_liveList-selected-time {
                position: absolute;
                bottom: 2px;
                left: 50%;
                width: 200px;
                transform: translate(-50%);
                height: 34px;
                font-weight: 800;
                letter-spacing: 1px;
                font-size: 1.3rem;

                p {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .app_liveList-selected-time-flag-line {
                position: absolute;
                left: 5px;
                bottom: 0px;
                width: 100%;
                height: 4px;
            }

            .app_liveList-selected-settings {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 120px;
                height: 45px;

                display: flex;
                align-items: center;
                justify-content: flex-end;

                .app_liveList-selected-settings-btn {
                    width: 35px;
                    height: 35px;
                    background: transparent;
                    border: none;

                    &:hover {
                        transform: scale(0.96);
                        cursor: pointer;
                    }
                }
            }

            .app_liveList-selected-fullscreen {
                position: absolute;
                right: 5px;
                top: 55px;
                width: 120px;
                height: 40px;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                border: none;
                background: transparent;
                outline: 1px solid #2867d4;
                color: #fff;
                font-size: 14px;
                font-weight: 400;

                &:hover {
                    cursor: pointer;
                    transform: scale(0.97);
                    background: #2867d4;
                    transition: background 0.5s ease-in-out;
                }
            }
            .app_liveList-selected-viewers {
                position: absolute;
                right: 5px;
                bottom: 10px;
                width: 200px;
                height: 40px;
                background: #0b0b11;
                border-radius: 10px;
                font-family: "SF-Pro", sans-serif;

                display: flex;
                gap: 5px;

                p {
                    width: calc(75% - 5px);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgb(85, 183, 244);
                }

                span {
                    width: 25%;
                    height: 100%;
                    background: #2246bc;
                    // border-top-right-radius: 10px;
                    // border-bottom-right-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: azure;
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
.app__live_raceLeaders {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    .app__live_raceLeaders-inner {
        width: 1600px;
        height: 100%;
        background: #0f101a;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.app__Simulator {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    .simulator_inner {
        width: 1600px;
        height: 100%;
        background: #0f101a;

        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "F1-Regular", sans-serif;
    }
}
.app__selectedRace-table {
    width: 1600px;
    height: calc(15 * 38px);
    overflow-y: auto;
    overflow-x: auto;
    background: #0f101ac4;
    position: relative;

    &::-webkit-scrollbar {
        width: 0px;
        height: 7px;

    }
    &::-webkit-scrollbar-track {
        background: #0f101a;
    }
    &::-webkit-scrollbar-thumb {
        background: #2246bc;
    }

    font-family: "SF-Pro", sans-serif;
}


@media (max-width: 1600px) {
    .app__liveList-selected-race-data {
        align-self: flex-start;
    }
    .app__liveList-selected-race-legend {
        align-self: flex-start;
    }
    .app_liveList-selected-results > header {
        margin-left: 0px !important;
    }
    .app__live-filter {
        width: 100vw;
    }
}

@media (max-width: 700px) {
    .app_liveList-selected-track-name {
        font-size: 0.7rem;
        justify-self: flex-start;
        p {
            font-size: 1.6rem !important;
        }
    }
}
@media (max-width: 450px) {
    .app_liveList-selected-track-name {
        font-size: 0.5rem;
        justify-self: flex-start;
        p {
            font-size: 1.1rem !important;
        }
    }
    .app_liveList-selected-fullscreen {
        width: 40px !important;
    }
}