
.__board_table {
    max-width: max-content;
    min-width: 1600px;
    height: 100%;
    font-family: "SF-Pro", sans-serif;

    .__board_table_legend {
        width: 100%;
        height: 25px;
        display: flex;
        align-items: center;
        background: linear-gradient(to right, #e8ab11, #de6910);
        color: #000;
        font-weight: 700;
        border-radius: 7px;
        font-family: "SF-Pro-Bold", sans-serif;

        .__board_table_legendField {
            display: flex;
            height: 100%;
            align-items: center;
            border-right: 3px solid #000000;
            font-size: 0.93rem;

            &:last-child {
                border-right: none;
            }
        }
    }
    .__board_table_data {
        height: calc(100% - 40px);
        width: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .__board_table_data_item {
            width: 100%;
            height: 35px;
            background: #1c1c21;
            color: aliceblue;
            margin-top: 2px;

            display: flex;
            align-items: center;

            &:nth-child(1) {
                margin-top: 4px;
            }
            &:nth-child(odd) {
                background: #232229;
            }
            &:hover {
                cursor: pointer;
                background: #36363d;
                color: #ffd900;
            }

            p {
                display: flex;
                align-items: center;
                border-right: 3px solid #000;
                height: 100%;

                &:last-child {
                    border: none;
                }
            }

            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }
    }
}
@media (max-width: 1620px) {
    .__board_table {
        align-self: flex-start;
    }
}